waitress
flask
python-dotenv
nltk
transformers
sentence-transformers
numpy
pandas
wordfreq
language_tool_python
pyrebase
firebase_admin
requests==2.21.0
Flask==1.0.2
oauthlib==3.0.1
pyOpenSSL==19.0.0
Flask-Login==0.4.1
json
sqlite3
random-word
english-words